@import "public";
// 商品
.sp{
    @include size(100%,1333px);
    .sp1{
        @include size(980px,1293px);
        margin: 0 auto;
        padding-top: 40px;
        h2{
            font-family: 宋体;
            font-size: 17px;
            color: #b49759;
            height: 24px;
            line-height: 24px;
            border-bottom: 1px solid #b49759;
            padding-left: 10px;
        }
        .sps{
            overflow: hidden;
            li{
                width: 212px;
                margin: 20px 15px;
                float: left;
                position: relative;
                .s2{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 210px;
                    height: 210px;
                    background:rgba($color: #fff, $alpha: 0);
                    border: 1px solid red;
                    display: none;
                    z-index: 1000;
                }
                .s1:hover .s2{
                    display: block;
                }
                h4{
                    clear: both;
                    a{
                        display: block;
                        color: #545454;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: normal;
                        height: 24px;
                        line-height: 24px;
                        overflow: hidden;
                        padding-top: 10px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 215px;
                    }
                }
                .s3{
                    display: block;
                    font-size: 13px;
                    color: #545454;
                    height: 20px;
                    line-height: 20px;
                    font-family: Arial;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 130px;
                    overflow: hidden;
                }
                .s4{
                    color: #9e002b;
                    font-size: 14px;
                    position: absolute;
                    right: 0;
                    font-family: 'Arial'
                }
                .s5{
                    background: url("../img/pro-list-add-buy.gif");
                    height: 31px;
                    line-height: 31px;
                    text-align: center;
                    margin-top: 10px;
                    cursor: pointer;
                    a{
                        color: #fff;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
            
        }
    }
}

//甜蜜时刻
.tm{
    padding-top:40px;
    h2{
        font-size: 17px;
        color: #b49759;
        height: 24px;
        line-height: 24px;
        border-bottom: 1px solid #b49759;
        padding-left: 10px;
    }
}

